{% extends "header.html" %}

{% block body %}
<link rel="stylesheet" type="text/css" href="../static/css/about.css">

<!--Header-->
<div class="landing-headerpx-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">Our book sharing project!</h2>
        <br>
        <br>
        <div class="row justify-content-center">
            <div id="about" class ="col-sm-5 justify-content-center">
                    <p>It was our dream to create a place for book lovers to share and receive books,
                        encouraging us all to learn new skills, spread knowledge and to
                        improve the sustainability of the literary industry.
                        <br>
                        <br>
                        “A room without books is like a body without a soul.” ― Marcus Tullius Cicero
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>	

{% endblock %}
