{% extends "header.html" %}

{% block body %}

<link rel="stylesheet" type="text/css" href="../static/css/index.css">

        <!-- Information and first search -->
        <div class="landing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h1 class="display-4">Do you have a book to share?</h1>
            <br>
            <p class="lead">Give other book lovers the opportunity to read a book you love!</p>
            <p class="lead">Reduce your carbon footprint at the same time!</p>
            <br>
            <br>
            <div id="searchBox">
                <form method="get" action="/search">
                    <label for="search"><strong>Start sharing:</strong></label>
                    <input type="text" id="searchText" name="searchText" placeholder="Write book name here">
                    <input type="submit" value="Search" id="submit-button" formaction="/search">
                </form>
            </div>
        </div>

        <div class="bookTable">
        
            <table class="table table-hover">
                <thead>
                    <tr>
                    <th scope="col">#</th>
                    <th scope="col">Book Title</th>
                    <th scope="col">User name</th>
                    <th scope="col">Email</th>
                    <th scope="col">Postcode</th>                
                    </tr>
                </thead>
                <tbody>
                    {% for item in list %}
                    <tr>
                    <th scope="row">{{loop.index}}</th>
                    <td>{{item.bookTitle}}</td>
                    <td>{{item.name}}</td>
                    <td>{{item.email}}</td>
                    <td>{{item.postcode}}</td>
                    </tr>
                    {% endfor %}
                
                </tbody>
            </table>
        </div>

{% endblock %}
