<!DOCTYPE html>
<html>

<head>
	<title>List your book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
		<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<h5 class="my-0 mr-md-auto font-weight-normal">Company name</h5>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="#">Features</a>
				<a class="p-2 text-dark" href="#">Enterprise</a>
				<a class="p-2 text-dark" href="#">Support</a>
				<a class="p-2 text-dark" href="#">Pricing</a>
			</nav>
			<a class="btn btn-outline-primary" href="#">Sign up</a>
		</div>

	<div class="jumbotron text-center">
		<div class="col-sm-12 ">
			<h1>List your book.</h1>
		</div>
	</div>	

	<section class="text-center" id="contact-form">
		<div class="container container-text">
			<form method="post" action="/added">
				<div class="form-group">
					<label for="name">Name:</label>
					<input type="name" class="form-control" id="name" name="name" required="required" placeholder="What's your name?">
					<label for="book">Food:</label>
					<input type="book" class="form-control" id="book" name="book" required="required" placeholder="Book that you want to share!">
					<label for="postcode">Postcode:</label>
					<input type="postcode" class="form-control" id="postcode" name="postcode" required="required" placeholder="Enter your postcode">
					<label for="email">Email:</label>
					<input type="email" class="form-control" id="email" name="email" required="email" placeholder="Enter your email">
				</div>
				<input type="submit" class="btn btn-success" value="Submit" id="submit-button">
			</form>
		</div>
	</section>

</body>
</html>