{% extends "header.html" %}

{% block body %}
		
	<!--Header-->
	<div class="landing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
            <h2 class="display-4">Search for your book!</h2>
            <br>
            <br>
		</div>
	</div>	

	<section class="text-center" id="contact-form">
		<div class="container container-text">

			<form method="post" action="/addBook">
				<div class="form-group">

					{% if not title %}
					<label for="book">Book title:</label>
					<input class="form-control" id="book" name="book" required="required" placeholder="Title of your book!">
					<br>
					{% else %}
					<label for="book"><strong>Book: </strong></label>
					<label for="book">{{title}}</label>
					<br>
					<input type="hidden" class="form-control" id="book" name="book" required="required" value="{{title}}">
					{% endif %}

				</div>
				<input type="submit" class="btn btn-success" value="Submit" id="submit-button">
			</form>
			
            {% if error %}
              <p class="error"><strong>Error:</strong> {{ error }}</p>
            {% endif %}
	
		</div>
	</section>


{% endblock %}