<!DOCTYPE html>
<html>

<head>
	<title>List your book</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/list_book.css')}}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css ">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>
    <!-- Nav bar -->
	<div class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
			<a class="my-0 mr-md-auto font-weight-normal" href="/">Book Parlour</a>
			<nav class="my-2 my-md-0 mr-md-3">
				<a class="p-2 text-dark" href="#">Available Books</a>
				<a class="p-2 text-dark" href="/list_book">Share a book</a>
				<a class="p-2 text-dark" href="/about">About this project</a>
			</nav>
			<a class="btn btn-outline-primary" href="#">Sign up</a>
			<a class="btn btn-outline-primary" href="#">Sign in</a>
		</div>
		
	<!--Header-->
	<div class="jumbotron text-center" id="jumbotron">
		<div class="col-sm-12 ">
			<h1>List your book.</h1>
		</div>
	</div>	

	<section class="text-center" id="contact-form">
		<div class="container container-text">

			<form method="post" action="/addBook">
				<div class="form-group">

					{% if not title %}
					<label for="book">Book title:</label>
					<input class="form-control" id="book" name="book" required="required" placeholder="Title of your book!">
					<br>
					{% else %}
					<label for="book"><strong>Book: </strong></label>
					<label for="book">{{title}}</label>
					<br>
					<input type="hidden" class="form-control" id="book" name="book" required="required" value="{{title}}">
					{% endif %}

					<label for="name"><strong> Your name: </strong></label>
					<input class="form-control" id="name" name="name" required="required" placeholder="What's your name?">
					<label for="email"><strong>Email: </strong></label>
					<input class="form-control" id="email" name="email" required="email" placeholder="Enter your email">
					<label for="postcode"><strong>Postcode: </strong></label>
					<input class="form-control" id="postcode" name="postcode" required="required" placeholder="Enter your postcode">
				</div>
				<input type="submit" class="btn btn-success" value="Submit" id="submit-button">
			</form>
	
		</div>
	</section>

</body>
</html>