{% extends "header.html" %}

{% block body %}

        <!-- Center content -->
    <section class="text-center" id="contact-form">
        <div class="container container-text">

        <!-- Signup form --> 
    <form method="post" action="/update_users">
        <div class="form-group">
                <label for="username"><strong>Username: </strong></label>
                <input type="username" class="form-control" id="username" name="username" required="username" placeholder="Enter your username" style="border: none; border-bottom: 2px solid green;">
                <label for="password"><strong>Password: </strong></label>
                <input type="password" class="form-control" id="password" name="password" required="required" placeholder="Enter your password" style="border: none; border-bottom: 2px solid green;">
                <label for="email"><strong>Email: </strong></label>
                <input class="form-control" id="email" name="email" required="email" placeholder="Enter your email" style="border: none; border-bottom: 2px solid green;">
                <label for="postcode"><strong>Postcode: </strong></label>
                <input class="form-control" id="postcode" name="postcode" required="required" placeholder="Enter your postcode" style="border: none; border-bottom: 2px solid green;">
            </div>
        <input type="submit" class="btn btn-success" value="Submit" id="submit-button">
    </form>

        </div>
    </section>

{% endblock %}